.env
go_stream
video-player/node_modules
video-player/dist
# Logs
video-player/logs
video-player/*.log
video-player/npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
video-player/lerna-debug.log*

video-player/node_modules
video-player/dist
video-player/dist-ssr
video-player/*.local

# Editor directories and files
video-player/.vscode/*
!.vscode/extensions.json
video-player/.idea
video-player/.DS_Store
video-player/*.suo
video-player/*.ntvs*
video-player/*.njsproj
video-player/*.sln
video-player/*.sw?
